<li class="meetup">
  <div class="title-group">
    <h2 class="meetup-title">Angular vs React</h2>
    <p class="subscribers-number">321 подписчик</p>
  </div>

  <div class="place-and-time">
    <time class="time" datetime="2022-08-14T13:00">14.08.2022 13:00</time>
    <!-- <p class="held-text">Проведено</p> -->
    <p class="place">Переговорная 14</p>
  </div>

  <div class="info">
    <p class="short-description">
      Расскажу о том, об этом. О том, об этом. О том, об этом. О том, об этом. О
      том, об этом. О том, об этом. О том, об этом. О том, об этом.
    </p>

    <div class="expanded-info" *ngIf="isExpanded">
      <div class="info-group">
        <h3 class="subtitle">Целевая аудитория</h3>
        <p class="description">разрабы, аналитики, и прочие</p>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Что надо знать?</h3>
        <ul class="list">
          <li>Вот это</li>
          <li>Вот это</li>
          <li>Вот это</li>
          <li>Вот это</li>
          <li>Вот это</li>
        </ul>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Что будет?</h3>
        <ul class="list">
          <li>вот этому научу</li>
          <li>вот это расскажу</li>
          <li>вот этому научу</li>
          <li>вот этому расскажу</li>
        </ul>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Почему надо обязательно прийти?</h3>
        <p class="description">У меня красный пояс по C++</p>
      </div>
    </div>
  </div>

  <p class="author">
    <span class="icon material-symbols-outlined">person</span>
    <span>Кто-то там</span>
  </p>

  <div class="buttons">
    <button class="btn btn--base">Я пойду!</button>

    <button class="btn btn--accent" (click)="showMore()" *ngIf="!isExpanded">
      <span class="material-symbols-outlined">expand_more</span>
    </button>

    <button class="btn btn--accent" (click)="showLess()" *ngIf="isExpanded">
      <span class="material-symbols-outlined">expand_less</span>
    </button>
  </div>
</li>
