<li [class]="styleClasses">
  <div class="title-group">
    <h2 class="meetup-title">{{ meetup.name }}</h2>
    <p class="subscribers-number">{{ subcribersNumberText }}</p>
  </div>

  <div class="place-and-time">
    <time class="time" [dateTime]="meetup.time" *ngIf="!wasHeld">
      {{ dateText }}
    </time>

    <p class="held-text" *ngIf="wasHeld">Проведено</p>

    <p class="place">{{ meetup.location }}</p>
  </div>

  <div class="info">
    <p class="description" *ngIf="!isExpanded">
      {{
        meetup.description.length > descriptionCharsNumber
          ? meetup.description.slice(0, descriptionCharsNumber) + "..."
          : meetup.description
      }}
    </p>

    <p class="description" *ngIf="isExpanded">{{ meetup.description }}</p>

    <div class="expanded-info" *ngIf="isExpanded">
      <div class="info-group">
        <h3 class="subtitle">Целевая аудитория</h3>
        <p class="description">{{ meetup.target_audience }}</p>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Что надо знать?</h3>
        <p class="description">{{ meetup.need_to_know }}</p>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Что будет?</h3>
        <p class="description">{{ meetup.will_happen }}</p>
      </div>

      <div class="info-group">
        <h3 class="subtitle">Почему надо обязательно прийти?</h3>
        <p class="description">{{ meetup.reason_to_come }}</p>
      </div>
    </div>
  </div>

  <p class="author">
    <span class="icon material-symbols-outlined">person</span>
    <span>{{ meetup.owner.fio }}</span>
  </p>

  <div class="buttons">
    <button class="btn btn--base">Я пойду!</button>

    <button class="btn btn--accent" (click)="showMore()" *ngIf="!isExpanded">
      <span class="material-symbols-outlined">expand_more</span>
    </button>

    <button class="btn btn--accent" (click)="showLess()" *ngIf="isExpanded">
      <span class="material-symbols-outlined">expand_less</span>
    </button>
  </div>
</li>
