<li class="meetup">
  <h2 class="meetup-title">Angular vs React</h2>
  <p class="subscribers-number">321 подписчик</p>

  <div class="time-and-place">
    <time class="time" datetime="2022-08-14T13:00">14.08.2022 13:00</time>
    <p class="place">Переговорная 14</p>
  </div>

  <p class="short-description">
    Расскажу о том, об этом. О том, об этом. О том, об этом. О том, об этом. О
    том, об этом. О том, об этом. О том, об этом. О том, об этом.
  </p>

  <p class="author">
    <span class="material-symbols-outlined">person</span>
    <span>Кто-то там</span>
  </p>

  <div class="buttons">
    <button class="btn btn--go">Я пойду!</button>
    <button class="btn btn--more">
      <span class="material-symbols-outlined">expand_more</span>
    </button>
  </div>
</li>
