<header class="header">
  <nav class="navbar">
    <h1>
      <a class="logo" [routerLink]="userService.currentUser ? '' : '/login'">
        MeetUps
      </a>
    </h1>

    <ul class="links-list" *ngIf="userService.currentUser">
      <li>
        <a class="link--nav" [class.active]="isLinkActive('/')" routerLink="/"
          >Все митапы</a
        >
      </li>

      <li>
        <a
          class="link--nav"
          [class.active]="isLinkActive('/my-meetups')"
          routerLink="/my-meetups"
          >Мои митапы</a
        >
      </li>

      <li *ngIf="userService.isCurrentUserAdmin">
        <a
          class="link--nav"
          [class.active]="isLinkActive('/users')"
          routerLink="/users"
          >Пользователи</a
        >
      </li>
    </ul>

    <div class="buttons">
      <a
        class="btn--accent"
        routerLink="registration"
        *ngIf="!userService.currentUser"
        >Зарегистрироваться</a
      >

      <a class="btn--base" routerLink="login" *ngIf="!userService.currentUser"
        >Войти</a
      >

      <button
        class="btn--logout"
        (click)="logout()"
        *ngIf="userService.currentUser"
      >
        <span class="material-symbols-outlined">logout</span>
        <span>Выйти</span>
      </button>
    </div>
  </nav>
</header>
