<app-meetup-search />

<div class="container">
  <p class="error" *ngIf="errorMessage">
    <span>{{ errorMessage }}</span>
    <span class="error-icon material-symbols-outlined">error</span>
  </p>

  <ul class="all-meetups-list" *ngIf="meetupService.allMeetups.length">
    <app-meetup-item
      *ngFor="let meetup of meetupService.allMeetups"
      [meetup]="meetup"
    />
  </ul>

  <p class="empty" *ngIf="!meetupService.allMeetups.length">
    <span>Список митапов пуст :(</span>
  </p>

  <a class="btn--accent link--new-meetup" routerLink="/create">Создать митап</a>
</div>
