.container {
  max-width: 144rem;
  height: calc(100% - 8.3rem); // 8.3rem is the height of the meetup search

  margin: 0 auto;
  padding: 1rem 0;
  padding-right: 0.5rem;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
}

.all-meetups-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 1rem;
}
.error,
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;
}

.error-icon {
  font-size: 5rem;
  color: var(--danger-color-dark);
}

@media (max-width: 94em) {
  .container {
    max-width: 102rem;

    height: calc(100% - 10.7rem); // 10.7rem is the height of the meetup search
  }
}

@media (max-width: 57em) {
  .container {
    max-width: 80rem;
  }
}
