.container {
  max-width: 144rem;
  height: 100%;

  margin: 0 auto;
  padding: 1rem 0;
  padding-right: 0.5rem;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
}

.all-meetups-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 1rem;
}

.link--new-meetup {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}
