<div class="container">
  <h2 class="title">О приложении</h2>

  <div class="info">
    <p>
      Приложение позволяет создавать, редактировать, просматривать и
      подписываться на самые разные митапы, созданные пользователями.
    </p>

    <p>
      Для того, чтобы пользоваться приложением, необходимо предварительно
      зарегистрироваться, указав свои имя, фамилию, электронную почту и пароль.
    </p>

    <p>
      После того, как регистрация прошла успешно, Вы будете перенаправлены на
      страницу логина, где нужно ввести Ваши почту и пароль.
    </p>

    <p>
      Для создания митапа нажмите на кнопку "Создать митап". Вы будете
      перенаправлены на страницу с формой для его создания. Первые 5 полей формы
      обязательны для заполнения.
    </p>
  </div>

  <div class="buttons">
    <button class="btn--accent">Регистрация</button>
    <button class="btn--base">Войти</button>
  </div>
</div>
