<div class="container">
  <p class="message" *ngIf="wasJustRegistered">
    Регистрация прошла успешно! Пожалуйста, введите свои почту и пароль.
  </p>

  <form class="login-form" [formGroup]="loginForm" (submit)="submitLogin()">
    <label for="email">Почта</label>
    <input
      id="email"
      type="email"
      placeholder="example@mail.com"
      formControlName="email"
    />
    <p
      class="error"
      *ngIf="emailControl.touched && loginForm.get('email')?.value === ''"
    >
      Поле обязательно для заполнения
    </p>

    <p
      class="error"
      *ngIf="
        emailControl.touched &&
        loginForm.get('email')?.value !== '' &&
        emailControl.invalid
      "
    >
      Некорретктный адрес электронной почты
    </p>

    <label for="password">Пароль</label>
    <input
      id="password"
      type="password"
      placeholder="*****"
      formControlName="password"
    />
    <p class="error" *ngIf="passwordControl.touched && passwordControl.invalid">
      Поле обязательно для заполнения
    </p>

    <div class="buttons">
      <a class="link" routerLink="/registration">Регистрация</a>
      <button class="btn--base">Войти</button>
    </div>
  </form>
</div>
