.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  height: 100%;

  padding-top: 10rem;
}

.message {
  font-size: 2rem;
  font-weight: 500;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
}

.buttons {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  align-self: center;

  font-size: 1.6rem;
  font-weight: 500;
}

.error {
  grid-column: 1 / -1;

  color: var(--danger-color-dark);
  font-size: 1.4rem;
}
