.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100%;

  padding-top: 10rem;
}

.registration-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
}

input.ng-invalid.ng-touched {
  border-color: var(--danger-color);
}

label {
  align-self: center;

  font-size: 1.6rem;
  font-weight: 500;
}

.error {
  grid-column: 1 / -1;

  color: var(--danger-color-dark);
  font-size: 1.4rem;
}

.buttons {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
