<div class="container">
  <form class="registration-form">
    <label for="first-name">Имя</label>
    <input id="first-name" type="text" placeholder="Иван" />

    <label for="last-name">Фамилия</label>
    <input id="last-name" type="text" placeholder="Иванов" />

    <label for="email">Почта</label>
    <input id="email" type="email" placeholder="example@mail.com" />

    <label for="password">Пароль</label>
    <input id="password" type="password" placeholder="*****" />

    <div class="buttons">
      <a href="#" class="link">&larr; Вернуться назад</a>
      <button class="btn--base">Зарегистрироваться</button>
    </div>
  </form>
</div>
