@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --base-font-color: #495057;
  --second-font-color: #f9f9f9;

  --base-color: #4f46e5;
  --base-color-dark: #4338ca;
  --base-color-light: #6366f1;

  --accent-color: #007efc;
  --accent-color-light: #3b9cfd;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  color: var(--base-font-color);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  border: none;
  background: none;

  cursor: pointer;
}
